<div class="container-fluid">

  <div class="card shadow-sm p-3">

    <!-- ✅ Heading and Print All button in the same row -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="mb-0">Barcode List</h4>
      <button class="btn btn-success" (click)="printAll()">
        Print All
      </button>
    </div>
    
    <!-- <form [formGroup]="searchForm" class="row g-3">

    
      <div class="col-md-4">
        <label>Search</label>
        <input
          type="text"
          class="form-control"
          placeholder="Search by VarCode / LotNumber"
          formControlName="searchText">
      </div>

   
      <div class="col-md-3">
        <label>Vendor</label>
        <select class="form-select" formControlName="venderCode">
          <option value="">Select Vendor</option>
          <option *ngFor="let v of vendors" [value]="v.venderCode">
            {{ v.venderCode }}
          </option>
        </select>
      </div>

     
      <div class="col-md-3">
        <label>Item</label>
        <select class="form-select" formControlName="itemCode">
          <option value="">Select Item</option>
          <option *ngFor="let i of items" [value]="i.itemCode">
            {{ i.itemCode }}
          </option>
        </select>
      </div>

    
      <div class="col-md-2 d-flex align-items-end gap-2">
        <button type="button" class="btn btn-primary w-100" (click)="search()">
          Search
        </button>

        <button type="button" class="btn btn-secondary w-100" (click)="reset()">
          Reset
        </button>
      </div>

    </form>

  </div> -->

  <!-- ✅ Table -->
  <div class="card shadow-sm mt-3">

    <div class="table-responsive">
      <table class="table table-bordered table-hover mb-0">

        <thead class="table-light">
          <tr>
            <th>Vendor Code</th>
            <th>Item Code</th>
            <th>BarCode</th>
            <th>Manufacture Date</th>
            <th>Expiry Date</th>
            <th>Inserted Date</th>
             <th>Print</th>
            <th>Actions</th> 
          </tr>
        </thead>

        <tbody>

          <tr *ngIf="filteredList.length === 0">
            <td colspan="8" class="text-center text-muted">
              No records found
            </td>
          </tr>

          <tr *ngFor="let b of filteredList">
            <td>{{ b.venderCode }}</td>
            <td>{{ b.itemCode }}</td>
            <td>{{ b.varCode }}</td>
            <td>{{ b.manufacturingDate | date }}</td>
            <td>{{ b.expiryDate | date }}</td>
            <td>{{ b.insertedDate | date:'short' }}</td>

        
            <td>
              <button class="btn btn-sm btn-primary" (click)="print(b)">
                Print
              </button>
            </td>

           
          <td>
  <button 
    class="btn btn-sm btn-danger"
    (click)="delete(b)">
   <i class="fa-solid fa-trash"></i>
  </button>
</td>
          </tr>

        </tbody>

      </table>
    </div>

  </div>

</div>